.register {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("http://127.0.0.1:8887/ecommerce-project/src/components/assets/bg.png")
      center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register_wrapper {
  width: 40%;
  padding: 1.3rem;
  background-color: white;
}
.register h1 {
  font-size: 1.5rem;
  font-weight: 300;
}
.register form {
  display: flex;
  flex-wrap: wrap;
}
.register input {
  flex: 1;
  min-width: 40%;
  margin: 1.3rem 0.6rem 0 0;
  padding: 0.6rem;
}
.register span {
  font-size: 0.75rem;
  margin: 1.3rem 0;
}
.register button {
  width: 40%;
  border: none;
  padding: 1rem 1.3rem;
  background-color: teal;
  color: white;
  cursor: pointer;
}

/*-------------------------- small devices -------------------*/

@media screen and (max-width: 600px) {
  .register_wrapper {
    width: 75%;
  }
}
