h1 {
  margin: 1.3rem;
}
.filter_container {
  display: flex;
  justify-content: space-between;
}
.filter {
  margin: 1.3rem;
}
.filter_text {
  font-size: 1.3rem;
  font-weight: 600;
}
select {
  padding: 0.6rem;
  margin: 0 1.3rem;
  font-size: 0.9rem;
  font-weight: 500;
  border: 2px solid teal;
  border-radius: 6px;
}
option {
  font-size: 0.9rem;
  font-weight: 500;
}

/*-------------------------- small devices -------------------*/

@media screen and (max-width: 600px) {
  .filter {
    width: 0 1.3rem;
    display: flex;
    flex-direction: column;
  }
  .filter_text {
    margin-right: 0;
  }
  .filter_container select {
    margin: 0.6rem 0;
  }
}
