.slider {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.slider_arrow {
  width: 3.2rem;
  height: 3.2rem;
  background-color: #fff7f7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}
.arrow_left {
  position: absolute;
  top: 6.2rem;
  bottom: 0;
  left: 0.6rem;
  margin: auto;
}
.arrow_right {
  position: absolute;
  top: 6.2rem;
  bottom: 0;
  right: 0.6rem;
  margin: auto;
}
.slider_content {
  height: 100%;
  display: flex;
  transition: all 1.5s ease;
}
.slide {
  display: flex;
  align-items: center;
  width: 99vw;
}
.winter {
  background-color: #fcf1ed;
}
.summer {
  background-color: #f5fafd;
}
.popular {
  background-color: #fbf0f4;
}
.image_container {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image_container img {
  height: 100%;
}

.info_container {
  flex: 1;
}
.info_container h1 {
  font-size: 4.4rem;
}
.info_container p {
  margin: 3.1rem 0;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}
.info_container button {
  padding: 0.8rem;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid teal;
  color: teal;
  border-radius: 0.6rem;
}
.one {
  transform: translateX(-99vw);
}
.two {
  transform: translateX(-198vw);
}

/*-------------------------- small devices -------------------*/

@media screen and (max-width: 600px) {
  .image_container {
    height: 10%;
  }
  .slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .info_container h1 {
    font-size: 3rem;
  }
}
